<h1 style="text-align: center">An example of what not to do when you IPO.</h1>
<h2 style="text-align: center"><a href="https://github.com/michelson/lazy_high_charts" target=>
	
Many thanks to the lazy_high_chart gem</a></h2>

<div style="width: 800px; margin: auto auto">
<div id="chart" style="height: 500px; min-width: 500px"></div>
</div>

