<h1 style="text-align: center">Stock High Chart: Pick a Stock</h1>
<h3 style="text-align: center">
	<a href="https://github.com/michelson/lazy_high_charts" target=>
Many thanks to the lazy_high_chart gem</a></h3>
 <center>
 <%= simple_form_for @chart do |f| %> 
 	Enter a Stock
	<%= f.input :ticker, :label => " " %>
	
	<%= f.submit "Get Stock" %>
<%end%></center>

<div style="width: 800px; margin: auto auto">
<div id="chart" style="height: 500px; min-width: 500px"></div>
</div>




