<h1 style="text-align: center;">Stock High Chart: Pick a Stock</h1>
<h3 style="text-align: center;">
	<a href="https://github.com/michelson/lazy_high_charts" target=>
Yay lazy_high_chart gem</a></h3>
<% @chart = Chart.find_by_id(params[:id]) %>

<center>
Enter another Stock
<%= text_field :stock_symbol, class: "ticker" %>
<button id="getdata" style="height: 30px;">Get Stock</button></center> 

<br />
<h3 style="text-align: center"><%= @chart.ticker%> Stock Price</h3>
<div style="width: 800px; margin: auto auto;">
<div id="chart" style="height: 500px; min-width: 500px"></div>
</div>

<% @final = Array.new() %>
<% @history = YahooStock::History.new(:stock_symbol => @chart.ticker, 
      :start_date => Date.today-55, :end_date => Date.today-1)%>
  <% @h = @history.results(:to_hash).output %>
	<% @h.each do |t| %>
		<% @data = Array.new() %>
		<% @data.push(Date.parse(t[:date]).to_time.to_i) %>
		<% @data.push(t[:close].to_f) %>
		<% @final.push(@data) %>
	<%end%>
<p id="data" style="color: #fff; font-size: 1px;"><%= @final.reverse %></p>



